<div id="password-wrapper">
  <div id="password-div" >
    <p><text class="new-room">Confirmation</text><span class="close-btn">×</span></p>
    <div class="password-form">
      <div class="form-group">
        <ul>
          <li><label class="controll-label">Password</label></li>
          <li><input id="password-input" class="form-controll"></input></li>
          <li id="incorrect-message">incorrect password</li>
        </ul>
        <div class="btn-div">
        <button class='btn btn-primary create-room-btn' id="password-submit-btn">Confirm</button>
      </div>
      </div>
      
    </div>
  </div>
</div>