<div id="top-wrapper">
  <div id="image-container" style='background-image: url("<%= asset_path('people-2567915_1920.jpg') %>");'>
  </div>
  
  <div id="top-container">
    <div id="top-title">
      <h2>Langpal</h2>
      <p>Do a language exchange with people of the same gender!</p>
      <p>Have a chat and teach lunguage each other!</p>
    </div>
    <div class="top-btn-div">
      <a href="users/sign_up">
        <div class="top-btn">
          <p class="btnText">Signup</p>
          <div class="btnTwo">
            <p class="btnText2"><i class="fas fa-arrow-right"></i></p>
          </div>
        </div>
      </a>
    
      <a href="users/sign_in">
        <div class="top-btn">
          <p class="btnText">Login</p>
          <div class="btnTwo">
            <p class="btnText2"><i class="fas fa-arrow-right"></i></p>
          </div>
       </div>
      </a>
    </div>
  </div>
</div>