
/* ページ全体 */
#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 80px;
}

.f-container{
   display: flex;
   width: 100%;
   height: calc(100% - 60px);
}

#user-container{
    width: 35%;
}

#chat-container{
    width: 40%;
    border-left: solid 3px #b8c4cc;
    border-right: solid 3px #b8c4cc;
    position: relative;
}

#room-container{
    width: 24%;
}

h1{
    text-decoration: underline;
    font-family: 'arial black';
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777; 
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}


/* chat関係 */

#post{
    max-height: 650px;
}

.post-container{
    margin-top: 30px;
    
}

.post-block-mine{
    margin: 10px 10px 0 10px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.post-block-others{
    margin: 10px 10px 0 10px;
    text-align: left;
    display: flex;
}

.post{
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 2px 2px 3px;
    overflow-wrap: break-word;
    min-width: 0;
    max-width: 100%;
}

.post-div{
    width: 55%;
}

.post-div p{
    margin: 0;
}

.icon_image{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.post-mine{
    background-color: #87cefa;
    text-align: left;
    margin-right: 5px;
}

.post-others{
    background-color: #eee;
    margin-left: 5px;
    
}

.input-div{
    position: absolute;
    bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.input{
    width: 70%;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
}

.btn-primary{
    border-radius: 0 10px 10px 0;
}

/* room関係 */
.room{
    display:flex;
    padding: 5px;
    height: 100px;
    width: 300px;
    background-color: #7d9eb3;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left : 20px;
}

.room-name{
    text-decoration: none;
    color: white;
}

.fa-door-open{
    color: #005e99
;
}

/* ユーザー情報 */
#user-container{
    height: 100%;
    
}

#users{
    overflow: scroll;
    margin-top: 48px;
    height: calc(100% - 48px);
}

#user-container h1{
    position: absolute;
}

.user-info{
    border: solid 1px black;
    height: 250px;
    margin: 20px 10px 0 10px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    background-color: #dcdcdc;
}

.user-info-container{
    display: flex;
    flex-direction: column;
}

.user-info image{
    justify-content: center;
}

.user-image{
    border-radius: 75px;
}

.user-item{
    width: 200px;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.user-name{
    font-size: 20px;
    font-weight: bold;
}

.user-native{
    text-align: left;
    margin: 0 0 5px 5px;
}

.user-study{
    text-align: right;
    margin-right: 5px;
}

.language {
    display: inline-block;
    background-color: white;
    border: solid 1px;
    border-radius: 10px;
    padding: 3px;
    margin: 0;
}

.user-intro{
    text-align: left;
    overflow: scroll;
}