
/* ページ全体 */
#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

ul{
    list-style: none;
    padding: 0;
}

header{
    width: 100%;
    height: 60px;
}

.f-container{
   display: flex;
   width: 100%;
   height: calc(100% - 60px);
}

#user-container{
    width: 25%;
}

#chat-container{
    width: 50%;
    border-right: solid 3px #b8c4cc;
    position: relative;
}

#room-container{
    width: 24%;
    overflow-y: scroll;
    position: relative;
}

h1{
    font-family: 'Century Gothic';
    background-color: #353866;
    color: white;
    padding-left: 10px;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777; 
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}


/* chat関係 */

#post{
    max-height: 650px;
}

.post-container{
    margin-top: 30px;
    
}

.post-block-mine{
    margin: 10px 10px 0 10px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.post-block-others{
    margin: 10px 10px 0 10px;
    text-align: left;
    display: flex;
}

.post{
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
    padding: 0 10px;
    overflow-wrap: break-word;
    min-width: 0;
    max-width: 100%;
}

.post-div{
    width: 55%;
}

.post-div p{
    margin: 0;
}

.icon_image{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.post-mine{
    background-color: #353866;
    font-weight: lighter;
    color: white;
    text-align: left;
    margin-right: 5px;
}

.post-others{
    background-color: white;
    margin-left: 5px;
    box-shadow: 3px 3px 5px #E9E9F2;
}

.input-div{
    position: absolute;
    bottom: 0px;
    display: flex;
    height: 90px;
    width: 100%;
    border-top: solid 1px #ddd;
}

#input{
    width: 85%;
    height: 100%;
    border: none;
    background-color: 	#FBFBFC;
}

#submit-btn{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #FF7754;
    color: white;
    border: none;
    margin-top: 15px;
}

.fa-share{
    font-size: 26px;
}

/* room関係 */
#rooms{
    position: absolute;
    top: 120px;
}

.room{
    display:flex;
    padding: 5px;
    height: 100px;
    width: 300px;
    background-color: #333866;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.room:hover{
    text-decoration: none;
}

#new-room-btn{
    color: white;
    border-radius: 5px;
    background-color: #FF7754;
    border: none;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#form-wrapper, #password-wrapper{
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 10;
    background-color: rgba(0,0,0,0.7);
}

#room-form-div, #password-div{
    width: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: solid 1px black;
}

#room-form, .password-form{
    padding: 5px 40px 40px 40px;
}

#room-form-div p, #password-div p{
    font-size: 25px;
    margin: 0 12px;
}

.btn-div{
    text-align: right;
}

.new-room{
    border-bottom: solid 1px;
}

#room-form-div span, #password-div span{
    float: right;
    padding-bottom: 5px;
    width: 30px;
    text-align: right;
}

#incorrect-message{
    color: red;
    display: none;
}

.close-btn:hover{
    cursor: pointer;
}

.form-controll{
    width: 100%;
}

.room-name{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.room-comment{
    color: white;
}

.fa-door-open{
    color: white;
}

#non-rooms .room{
    background-color: #666666;
}

#question-btn{
    border: none;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    margin-left: 20px;
}

#response{
    padding: 40px;
    background-color: white;
    z-index: 12;
    display: none;
    position: absolute;
    border: solid 1px #ddd;
    color: #FF7754;
}

.show{
    display: block;
}

#response ul{
    list-style: square;    
}

.ref{
    display: inline-block;
}

.ref-j{
    background-color: #333866;
}

.ref-n{
    background-color: #666666;
}

/* ユーザー情報 */
#user-container{
    height: 100%;
    
}

#user-container h1{
    width: 25%;
    margin-top: 0;
}

#users{
    overflow: scroll;
    margin-top: 48px;
    height: calc(100% - 48px);
}

#user-container h1{
    position: absolute;
}

.user-item ul{
    width: 210px;
}

.user-info{
    background-color: white;
    border-left: solid 4px #ddd;
    margin: 5px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #E9E9F2;
}

.info-div{
    padding-left: 6px;
}

.user-info-container{
    display: flex;
}

.user-info-container li{
    list-style: none;
}

.user-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.user-name{
    font-weight: bold;
    font-size: 20px;
}

.language{
    display: inline-block;
    border: solid 1px #ddd;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0 5px;
}

.user-intro{
    display: none;
}

.study{
    text-align: right;
}