.f-container{
   display:flex; 
}

.f-item{
    width: 33%;
}

#chat-container{
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.room{
    display:flex;
    padding: 5px;
    height: 100px;
    width: 300px;
    background-color: #eee;
    margin-bottom: 10px;
}

.room-item{
    
}

.fa-door-open{
    color: #87cefa;
}